.mypy_cache
.flake8
.git
.gitattributes
.gitignore
.pre-commit-config.yaml
CHANGELOG.md
README.md
docs
venv
.cz.yaml
deployment-environment.ps1
deployment-environment.sh
project-app.sh
project-app.ps1
Dockerfile
docker-compose.yml
Makefile
.dockerignore
