.header {
  display: flex;
  justify-content: center;
  padding: 0 20px;

  &__top {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    max-width: $mx-size-page;
    // box-shadow: $box-shadow;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    overflow: hidden;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   z-index: -1;
    //   top: 0;
    //   right: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba(0, 0, 0, 0.1);
    // }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &-image {
      width: 50px;
      height: 50px;
    }

    &-text {
      font-size: 1.5rem;
      color: $text-alternative-color;
      text-decoration: none;
    }
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 20px;
    }

    &-item {
      display: flex;
      align-items: center;
    }

    &-link {
      font-size: 1rem;
      color: $text-alternative-color;
      text-decoration: none;
      position: relative;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: $text-alternative-color;
        transition: width 0.3s ease;
      }
    }
  }

  &__auth-button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: $text-color;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #000;
    transition: background-color $transition, color $transition, transform $transition;

    &:hover {
      background-color: transparent;
      color: $text-alternative-color;
      transform: scale(1.1);
    }
  }

  &__container-acc-active {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__icon-acc {
    inline-size: 40px;
    block-size: 40px;
    cursor: pointer;
    transition: transform $transition, opacity $transition;

    &:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }

  @media (max-width: 768px) {

    &__container {
      padding: 15px 20px;
    }

    &__auth-button {
      padding: 8px 16px;
    }

    &__top {
      // min-height: 32vh;
      min-height: 20vh;
    }

    &__container {
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav {
      width: 100%;
      margin-top: 17px;

      &-list {
        flex-direction: column;
        gap: 10px;
      }
    }

    &__auth {
      width: 100%;

      &-button {
        width: 100%;
      }
    }

    &__container-acc-active {
      margin-top: 17px;
      flex-direction: column;
      gap: 5px;
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    
    &__logo-text {
      font-size: 1.2rem;
    }

    &__nav-link {
      font-size: 0.9rem;
    }

    &__auth-button {
      font-size: 0.9rem;
    }
  }
}
