@import '../vendor/variables.scss';

/* 
 * @import url(https://fonts.googleapis.com/css?family=Roboto:300);
 */

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
	line-height: 1;
	vertical-align: baseline;
	border: 0;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    overflow: auto;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    margin-left: 10px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 5px;
}

a {
    color: $text-color;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #606C38;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  // overflow: hidden;
}

.page__base-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: linear-gradient(135deg, #E6E6FA 0%,  #e0b3c2 100%);

  mask: radial-gradient(circle, transparent 20%, #000000 20%);
  mask-size: 5px 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%);
    background-size: 10px 10px; 
    opacity: 0.5;
  }
}
