{% extends 'organ/base.html' %}

{% block title %}Вход в аккаунт{% endblock %}

{% block body %}
{% load static %}
<main class="home">
    <div class="home__container">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                <div class="form-input">
                    <h2 class="form-title">Вход в аккаунт</h2>

                    <div class="input-container">
                        {{ form.username }}
                        <label for="id_username" class="placeholder">Логин</label>
                    </div>

                    <div class="input-container">
                        {{ form.password }}
                        <label for="id_password" class="placeholder">Пароль</label>
                    </div>

                    <div class="button-container">
                        <button type="submit" class="btn btn-form-primary">Войти</button>
                    </div>

                    <div class="link-container">
                        <h4>Ещё нет аккаунта?</h4>
                        <a href="{% url 'auth_register' %}" class="register-link" data-transition="slide">Зарегистрируйтесь</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
