{% extends 'organ/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
{% load static %}
<main class="home">
    <div class="home__container">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                <div class="form-input">
                    <h2 class="form-title">Регистрация</h2>

                    <div class="input-container">
                        {{ form.username }}
                        <label for="id_username" class="placeholder">Имя пользователя</label>
                    </div>

                    <div class="input-container">
                        {{ form.email }}
                        <label for="id_email" class="placeholder">Электронная почта</label>
                    </div>

                    <div class="input-container">
                        {{ form.password1 }}
                        <label for="id_password1" class="placeholder">Пароль</label>
                    </div>

                    <div class="input-container">
                        {{ form.password2 }}
                        <label for="id_password2" class="placeholder">Подтверждение пароля</label>
                    </div>

                    <div class="button-container">
                        <button type="submit" class="btn btn-form-primary">Зарегистрироваться</button>
                    </div>

                    <div class="link-container">
                        <h4>Уже есть аккаунт?</h4>
                        <a href="{% url 'auth_login' %}" class="register-link" data-transition="slide">Войти</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
