<!DOCTYPE html>
{% load static sass_tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDoRun{% endblock %}</title>
    <link rel="icon" href="{% sass_src 'images/favicons/favicon.ico' %}" sizes="any" />
    <link rel="icon" href="{% sass_src 'images/favicons/favicon.svg' %}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{% sass_src 'images/favicons/apple-touch-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% sass_src 'scss/index.scss' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>
<body class="page">
    {% if request.path == '/' %}
        <canvas class="webgl"></canvas>
        <script type="module" src="{% static 'scripts/shader-config.js' %}"></script>
        <script type="module" src="{% static 'scripts/shader-squer.js' %}"></script>
        <script type="module" src="{% static 'scripts/shader-squer-animation.js' %}"></script>
    {% endif %}
    
    {% include 'organ/shader_background.html' %}
    {% include 'organ/header.html' %}
    
    <main class="content">
        {% block body %}{% endblock %}
    </main>
    
    <script src="{% static 'scripts/transitions.js' %}"></script>
    <script src="{% static 'scripts/index.js' %}"></script>
</body>
</html>