{% load static %}
<header class="header">
  <div class="header__top">
    <div class="header__container">
      <div class="header__logo">
        <img
          class="header__logo-image"
          src="{% static 'images/label.svg' %}"
          alt="Логотип ToDoRun"
        />
        <a href="{% url 'home' %}" class="header__logo-text" data-transition="slide">ToDoRun</a>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="https://github.com/skeiigi/ToDoRun" target="_blank" class="header__nav-link">GitHub проекта</a>
          </li>
          {% comment %} <li class="header__nav-item">
            <a href="{% url 'home' %}" class="header__nav-link">Домой</a>
          </li> {% endcomment %}
          {% comment %} <li class="header__nav-item">
            <a href="{% url 'tasks' %}" class="header__nav-link">Список задач</a>
          </li> {% endcomment %}
          {% comment %} <li class="header__nav-item">
            <a href="{% url 'calendar' %}" class="header__nav-link">Календарь задач</a>
          </li> {% endcomment %}
          {% comment %} <li class="header__nav-item">
            <a href="#" class="header__nav-link">Донаты</a>
          </li> {% endcomment %}
          {% comment %} <li class="header__nav-item">
            <a href="{% url 'about' %}" class="header__nav-link">О нас</a>
          </li> {% endcomment %}
        </ul>
      </nav>

      {% if not user.is_authenticated %}
      <div class="header__container-acc-active">
        <div class="header__auth">
          <button
            type="button"
            class="header__auth-button"
            onclick="location.href='{% url 'auth_login' %}'"
          >
            Войти
          </button>
        </div>
        <div class="header__auth">
          <button
            type="button"
            class="header__auth-button"
            onclick="location.href='{% url 'auth_register' %}'"
          >
            Регистрация
          </button>
        </div>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="header__container-acc-active">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <div class="header__auth">
            <button
              type="submit"
              class="header__auth-button"
              onclick="location.href='{% url 'auth_login' %}'"
            >
              Выйти
            </button>
          </div>
        </form>
        <div class="header__container-icon-acc">
          <a href="{% url 'account' %}" data-transition="slide">
            <svg class="header__icon-acc">
              <use href="{% static 'images/account.svg' %}#account"></use>
            </svg>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</header>
